*~
*.swp
6502
*.o
ncurses*test
src/tests/ncurses_color_test
src/tests/ncurses_menu_test
src/tests/ncurses_panel_test
src/tests/ncurses_menu2_test
src/tests/ncurses_form1_test
src/tests/ncurses_form2_test
src/tests/ncurses_form3_test
src/tests/ncurses_mouse_test
src/log-6502.txt
log-6502.txt
bin/examples-bin/*.bin
tags
libconfig/libconfig-1.4.9/Makefile
libconfig/libconfig-1.4.9/ac_config.h
libconfig/libconfig-1.4.9/config.log
libconfig/libconfig-1.4.9/config.status
libconfig/libconfig-1.4.9/doc/Makefile
libconfig/libconfig-1.4.9/examples/Makefile
libconfig/libconfig-1.4.9/examples/c++/.deps/
libconfig/libconfig-1.4.9/examples/c++/Makefile
libconfig/libconfig-1.4.9/examples/c/.deps/
libconfig/libconfig-1.4.9/examples/c/.libs/
libconfig/libconfig-1.4.9/examples/c/Makefile
libconfig/libconfig-1.4.9/examples/c/example1
libconfig/libconfig-1.4.9/examples/c/example2
libconfig/libconfig-1.4.9/examples/c/example3
libconfig/libconfig-1.4.9/lib/.deps/
libconfig/libconfig-1.4.9/lib/.libs/
libconfig/libconfig-1.4.9/lib/Makefile
libconfig/libconfig-1.4.9/lib/libconfig++.pc
libconfig/libconfig-1.4.9/lib/libconfig.la
libconfig/libconfig-1.4.9/lib/libconfig.pc
libconfig/libconfig-1.4.9/lib/libconfig___la-grammar.lo
libconfig/libconfig-1.4.9/lib/libconfig___la-libconfig.lo
libconfig/libconfig-1.4.9/lib/libconfig___la-libconfigcpp.lo
libconfig/libconfig-1.4.9/lib/libconfig___la-scanctx.lo
libconfig/libconfig-1.4.9/lib/libconfig___la-scanner.lo
libconfig/libconfig-1.4.9/lib/libconfig___la-strbuf.lo
libconfig/libconfig-1.4.9/lib/libconfig_la-grammar.lo
libconfig/libconfig-1.4.9/lib/libconfig_la-libconfig.lo
libconfig/libconfig-1.4.9/lib/libconfig_la-scanctx.lo
libconfig/libconfig-1.4.9/lib/libconfig_la-scanner.lo
libconfig/libconfig-1.4.9/lib/libconfig_la-strbuf.lo
libconfig/libconfig-1.4.9/libtool
libconfig/libconfig-1.4.9/stamp-h1
libconfig/libconfig-1.4.9/tests/.deps/
libconfig/libconfig-1.4.9/tests/.libs/
libconfig/libconfig-1.4.9/tests/Makefile
libconfig/libconfig-1.4.9/tests/libconfig_tests
libconfig/libconfig-1.4.9/tinytest/.deps/
libconfig/libconfig-1.4.9/tinytest/Makefile
libconfig/libconfig-1.4.9/tinytest/libtinytest.a

