*~
*.swp
6502
*.o
ncurses*test
src/tests/ncurses_color_test
src/tests/ncurses_menu_test
src/tests/ncurses_panel_test
src/tests/ncurses_menu2_test
src/tests/ncurses_form1_test
src/tests/ncurses_form2_test
src/tests/ncurses_form3_test
src/tests/ncurses_mouse_test
src/log-6502.txt
log-6502.txt
bin/examples-bin/*.bin
tags
lib/libconfig/libconfig-1.4.9/Makefile
lib/libconfig/libconfig-1.4.9/ac_config.h
lib/libconfig/libconfig-1.4.9/config.log
lib/libconfig/libconfig-1.4.9/config.status
lib/libconfig/libconfig-1.4.9/doc/Makefile
lib/libconfig/libconfig-1.4.9/examples/Makefile
lib/libconfig/libconfig-1.4.9/examples/c++/.deps/
lib/libconfig/libconfig-1.4.9/examples/c++/Makefile
lib/libconfig/libconfig-1.4.9/examples/c/.deps/
lib/libconfig/libconfig-1.4.9/examples/c/.libs/
lib/libconfig/libconfig-1.4.9/examples/c/Makefile
lib/libconfig/libconfig-1.4.9/examples/c/example1
lib/libconfig/libconfig-1.4.9/examples/c/example2
lib/libconfig/libconfig-1.4.9/examples/c/example3
lib/libconfig/libconfig-1.4.9/lib/.deps/
lib/libconfig/libconfig-1.4.9/lib/.libs/
lib/libconfig/libconfig-1.4.9/lib/Makefile
lib/libconfig/libconfig-1.4.9/lib/libconfig++.pc
lib/libconfig/libconfig-1.4.9/lib/libconfig.la
lib/libconfig/libconfig-1.4.9/lib/libconfig.pc
lib/ibconfig/libconfig-1.4.9/lib/libconfig___la-grammar.lo
lib/libconfig/libconfig-1.4.9/lib/libconfig___la-libconfig.lo
lib/libconfig/libconfig-1.4.9/lib/libconfig___la-libconfigcpp.lo
lib/libconfig/libconfig-1.4.9/lib/libconfig___la-scanctx.lo
lib/libconfig/libconfig-1.4.9/lib/libconfig___la-scanner.lo
lib/libconfig/libconfig-1.4.9/lib/libconfig___la-strbuf.lo
lib/libconfig/libconfig-1.4.9/lib/libconfig_la-grammar.lo
lib/libconfig/libconfig-1.4.9/lib/libconfig_la-libconfig.lo
lib/libconfig/libconfig-1.4.9/lib/libconfig_la-scanctx.lo
lib/libconfig/libconfig-1.4.9/lib/libconfig_la-scanner.lo
lib/libconfig/libconfig-1.4.9/lib/libconfig_la-strbuf.lo
lib/libconfig/libconfig-1.4.9/libtool
lib/libconfig/libconfig-1.4.9/stamp-h1
lib/libconfig/libconfig-1.4.9/tests/.deps/
lib/libconfig/libconfig-1.4.9/tests/.libs/
lib/libconfig/libconfig-1.4.9/tests/Makefile
lib/libconfig/libconfig-1.4.9/tests/libconfig_tests
lib/libconfig/libconfig-1.4.9/tinytest/.deps/
lib/libconfig/libconfig-1.4.9/tinytest/Makefile
lib/libconfig/libconfig-1.4.9/tinytest/libtinytest.a
lib/libconfig-1.4.9/Makefile
lib/libconfig-1.4.9/ac_config.h
lib/libconfig-1.4.9/config.log
lib/libconfig-1.4.9/config.status
lib/libconfig-1.4.9/doc/Makefile
lib/libconfig-1.4.9/examples/Makefile
lib/libconfig-1.4.9/examples/c++/.deps/
lib/libconfig-1.4.9/examples/c++/Makefile
lib/libconfig-1.4.9/examples/c/.deps/
lib/libconfig-1.4.9/examples/c/Makefile
lib/libconfig-1.4.9/lib/.deps/
lib/libconfig-1.4.9/lib/Makefile
lib/libconfig-1.4.9/lib/libconfig++.pc
lib/libconfig-1.4.9/lib/libconfig.pc
lib/libconfig-1.4.9/libtool
lib/libconfig-1.4.9/stamp-h1
lib/libconfig-1.4.9/tests/.deps/
lib/libconfig-1.4.9/tests/Makefile
lib/libconfig-1.4.9/tinytest/.deps/
lib/libconfig-1.4.9/tinytest/Makefile
